.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid #bdbdbd61;
}
.section{
padding-top: 10px;
padding-bottom: 10px;

}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}